# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
client/.env
server/.env

# Build and coverage
build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store

# Uploaded files
server/uploads/

# BFG tool
bfg-*.jar
